<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	
			<div class="well">
				<form ng-submit="findGroupsByFilter(filter)">
					<div class="input-group">			
						<input class="form-control" type="text" placeholder="Código ou Nome." ng-model="filter">
							<div class="input-group-btn">
								<button class="btn btn-default btn-primary" type="button" ng-click="findGroupsByFilter(filter)">
									<i class="fa fa-search"></i> Pesquisar
								</button>
							</div>				
					</div>
				</form>
			</div>
				
			<div class="jarviswidget jarviswidget-color-greenDark" id="wid-branch-list" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Categoria de produtos </h2>

				</header>

				<div>
					<div class="widget-body no-padding">
						<div class="dt-toolbar">
							<div class="col-xs-12">
									<a class="btn btn-primary"  ng-click="newGroup()"> <i class="fa fa-plus-square-o"></i>  Novo</a>
									<a id="btnProductGroupEdit" class="btn btn-primary  required-selected" href="javascript:void(0);" ng-click="editGroup()" ><i class="fa fa-edit"></i>  Editar</a>
									<a id="btnProductGroupDelete" class="btn  txt-color-white bg-color-redLight required-selected" href="javascript:void(0);" ng-click="deleteGroup()" ><i class="fa fa-times"></i>  Remover</a>
																		
							</div>
							<br>
						</div>

						<table id="datatable_groupproduct" custom-data-table aa-data="rowsDataTable" ng-init="listGroups()" class="table table-hover table-striped smart-form has-tickbox dataTable" radio="true" width="100%" >
							<thead>
									<tr role="row">
										<th tabindex="0" rowspan="1" colspan="1" style="width: 23px;"></th>
										<th tabindex="0" rowspan="1" colspan="1" style="width: 59px;">Sequência</th>										
										<th tabindex="0" rowspan="1" colspan="1" style="width: 59px;">Código</th>
										<th tabindex="0" rowspan="1" colspan="1" style="width: 400px;">Descrição</th>										
									</tr>
								</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>

		<script src="js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script src="js/plugin/datatables/dataTables.colVis.min.js"></script>
		<script src="js/plugin/datatables/dataTables.tableTools.min.js"></script>
		<script src="js/plugin/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
	pageSetUp();
	
	$('#btnProductGroupEdit').attr("disabled","disabled");
	$('#btnProductGroupDelete').attr("disabled","disabled");	
</script>
