/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 
 /* input[type=text]{
 	text-transform:uppercase;
 } */
 
 input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
} 


.jarviswidget-color-greenDark .nav-tabs li:not(.active) a , .jarviswidget-color-green .nav-tabs li:not(.active) a, .jarviswidget-color-greenLight .nav-tabs li:not(.active) a , .jarviswidget-color-purple .nav-tabs li:not(.active) a , .jarviswidget-color-magenta .nav-tabs li:not(.active) a, .jarviswidget-color-pink .nav-tabs li:not(.active) a , .jarviswidget-color-pinkDark .nav-tabs li:not(.active) a , .jarviswidget-color-blueLight .nav-tabs li:not(.active) a , .jarviswidget-color-blueDark .nav-tabs li:not(.active) a, .jarviswidget-color-darken .nav-tabs li:not(.active) a , .jarviswidget-color-yellow .nav-tabs li:not(.active) a , .jarviswidget-color-orange .nav-tabs li:not(.active) a, .jarviswidget-color-orangeDark .nav-tabs li:not(.active) a  , .jarviswidget-color-red .nav-tabs li:not(.active) a , .jarviswidget-color-redLight .nav-tabs li:not(.active) a {
	color: #030303 !important;
}