<div class="alert alert-warning fade in" style="display:none" id="alertOrderInvalid">	
	<button class="close" data-dismiss="alert">
		×
	</button>
	<i class="fa-fw fa fa-warning"></i>
	<strong>Opss!</strong> {{errorMessage}} 
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
			
			<div  ng-init="init()" class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-user-form"  data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>{{order.type == 1 ? 'Pedido' : 'Orçamento'}}</h2>				
				</header>
	
					<!-- widget div-->
					<div role="content" style="">
												
						<div class="widget-body fuelux">
							
							<div class="wizard" id= "myWizard">
								<ul class="steps">
									<li data-target="#orderGeneralStep" class="active">
										<span class="badge badge-info">1</span>Geral<span class="chevron"></span>
									</li>
									<li data-target="#orderProductStep">
										<span class="badge">2</span>Itens do Pedido<span class="chevron"></span>
									</li>
									<li data-target="#orderPaymentStep">
										<span class="badge">3</span>Pagamento<span class="chevron"></span>
									</li>
									<li data-target="#orderFinallyStep">
										<span class="badge">4</span>Finalizar<span class="chevron"></span>
									</li>
								</ul>
								<div class="actions">
									<button type="button" id="btnOrders" class="btn btn-sm btn-primary btn-prev">
										<i class="fa fa-arrow-left"></i>Voltar
									</button>
									<button type="button" id="btnNext" class="btn btn-sm btn-success btn-next" >
										Próximo<i class="fa fa-arrow-right"></i>
									</button>
								</div>
							</div>						
							<div class="step-content">
								<form autocomplete="off" id="orderForm" name="orderForm" class="smart-form" novalidate="novalidate" >
								
								<div class="step-pane active" id="orderGeneralStep">
									
									<fieldset>
										
										<div class="row">
											<section class="col col-6">
												<div class="row">
													<div class="col col-2">
														<label class="radio state-success"><input type="radio" name="radioOrderType" value="1" ng-model="order.type"><i></i>Pedido</label>															
													</div>
													<div class="col col-6">
														<label class="radio state-success"><input type="radio" name="radioOrderType" value="2" ng-model="order.type"><i></i>Orçamento</label>															
													</div>														
												</div>													
											</section>
										</div>																			
										<div class="row">
											<section class="col col-6">
												<label class="label">Cliente</label>
												<angucomplete-alt id="ex1"
										              placeholder="Pesquisar Clientes"
										              pause="400"
										              custom-scope="testandoDenovo"
										              selected-object="customerSelectedCallback"
										              remote-url="http://127.0.0.1/vendas-api/private/v1/customer/getAllByFilter?"
										              remote-url-data-field="payload.value"
										              remote-url-request-formatter="dataFormatFn"
										              description-field= "customerID"	
										              description-label="Código:"
										              description-field3= "cellPhone"	
										              description-label3="Celular:"										              									              
										              title-field="name"
										              image-field="pictureUrl"
										              minlength="1"
										              match-class="highlight"
										              auto-match="true"
										              text-searching="Aguarde. Pesquisando Cliente..."										              
										              text-no-results="Nenhum Cliente Encontrado"
										              input-class="form-control form-control-small"/>											    										
										    </section>	
										    
										    <section class="col col-2"  ng-show="branch.actionCreditLimit === 'B' || branch.actionCreditLimit === 'A' || branch.actionCreditLimit == 'L'">
												<label class="label">Limite de crédito</label>
												<label class="input">
													<input type="text" name="creditLimit" placeholder="Limite de crédito" value="{{ formatFloat(avaliableCreditLimit, true)}}" ng-disabled="true" class="form-control"> 
												</label>
											</section>																	    
										</div>
										
										
										<div class="row">
											<section class="col col-2">
												<label class="label">Data de Emissão</label>
												<label class="input">
													<input type="text" name="issuanceTime" placeholder="Data de Emissão" value="{{order.issuanceTime | date: 'dd/MM/yyyy HH:mm'}}" ng-disabled="true" class="form-control"> 
												</label>
											</section>										
										</div>
											
										<section>
											<label class="textarea"> 
												<i class="icon-append fa fa-comment"></i> 										
												<textarea rows="5" name="comment" placeholder="Observação" ng-model="order.observation"></textarea> 
											</label>
										</section>										
									</fieldset>
								</div>
								
								<div class="step-pane" id="orderProductStep">
									<fieldset id="flsOrderItem">
										<div class="row">
												<section class="col col-6">
													<label class="label">Produtos</label>
													<angucomplete-alt 
														  id="autoCompleteProduct"
											              placeholder="Digite Para Pesquisar algum Produto"
											              pause="400"
											              selected-object="productSelectedCallback"
											              remote-url="http://127.0.0.1/vendas-api/private/v1/product/getAllByFilter?"
											              remote-url-data-field="payload.value"
											              remote-url-request-formatter="dataFormatProduct"
											              description-label="Código:"
											              description-field= "productID"
											              description-label2="Preço R$:"
											              description-field2= "salePrice"	
											              description-label3="Estoque:"
											              description-field3= "stockAmount"
											              title-field="description"
											              image-field="pictureUrl"
											              minlength="1"
											              match-class="highlight"
											              auto-match="true"
											              disable-input="orderItemEdition"
											              text-searching="Aguarde. Pesquisando Produto..."										              
											              text-no-results="Nenhum Produto Encontrado"
											              input-class="form-control form-control-small"/>											    										
											    </section>
											    <section class="col col-6">
													<label class="label">Tabela de Preço</label>
													<label class="input">													
														<select class="form-control" ng-change="onChangePriceTable()"  ng-model="orderItem.priceTable" ng-options="table as  table.label for table in tables"></select>
													</label>
												</section>
											</div>
											
											<div class="row">
												<section class="col col-2">
													<label class="label">Quantidade</label>																					
													<label class="input">					
														<i class="icon-prepend fa  fa-cube"></i>
														<input type="number" id="orderItemQuantity" name="orderItemQuantity" placeholder="Quantidade" maxlength="9" ng-model="orderItem.quantity" class="form-control">																							
													</label>
												</section>
											</div>
											
											<div class="row">
												<section class="col col-2">
													<label class="label">Preço</label>																																		
													<label class="input">				
														<i class="icon-prepend fa fa-usd"></i>								
														<input type="number" name="orderItemSalePrice" placeholder="Preço" maxlength="9" ng-model="orderItem.salePrice" ng-blur="onBlurItemSalePrice()" class="form-control">
													</label>											
												</section>
												
												<section class="col col-2">
													<label class="label">Desconto (R$)</label>													
													<label class="input">				
														<i class="icon-prepend fa  fa-minus"></i>								
														<input type="number" id="orderItemDiscount" name="orderItemDiscount" placeholder="Desconto em Reais" maxlength="9" ng-model="orderItem.discount" class="form-control">
														<div class="note txt-color-red" ng-show="orderForm.orderItemDiscountPercentage.$error.maximumdiscountvalidator">
															O desconto máximo para esse produto é de R$ {{maximunDiscountProduct}} , equivalente a {{maximunDiscount}} %.														
														</div>	
													</label>											
												</section>
												
												<section class="col col-2">
													<label class="label">Desconto (%)</label>													
													<label class="input">				
														<i class="icon-prepend fa  fa-minus"></i>								
														<input type="number" ng-disabled="true" name="orderItemDiscountPercentage" placeholder="Desconto em Percentual" ng-model="discountPercentage" class="form-control" maximumdiscountvalidator="a">															
													</label>											
												</section>
												
												<section class="col col-2">
													<label class="label">Subtotal</label>																																		
													<label class="input">				
														<i class="icon-prepend fa  fa-money"></i>								
														<input type="text" ng-disabled="true"  name="orderItemSubtotal" placeholder="SubTotal" maxlength="9" value="{{ formatFloat(parseFloat(orderItem.salePrice)  * parseFloat(orderItem.quantity))   }}" class="form-control">
														<!-- <input type="text" ng-disabled="true"  name="orderItemSubtotal" placeholder="SubTotal" maxlength="9" value="{{ validate((parseFloat(orderItem.salePrice) - parseFloat(orderItem.discount)) * parseFloat(orderItem.quantity))   }}" class="form-control"> -->
													</label>
												</section>
												
											</div>
											<div class="row">
												<section  class="col col-6">
													<label class="textarea"> 
														<i class="icon-append fa fa-comment"></i> 										
														<textarea rows="2" name="observation" placeholder="Informações Adicionais" ng-model="orderItem.observation"></textarea> 
													</label>
												</section>
											</div>
											<button type="button" id="btnAddProductToCart" class="btn btn-sm  btn-primary" ng-click="addProductToCart(orderItem)" ng-disabled="!productSelected.id">
														<i class="fa fa-thumbs-o-up"></i> {{orderItemEdition ? 'Salvar Edição' : 'Adicionar Produto'}} 
											</button>
											<button type="button" class="btn btn-sm  bg-color-redLight txt-color-white" ng-click="cancelEdition()" ng-show="orderItemEdition">
													<i class="fa fa-thumbs-o-down"></i> Cancelar Edição
											</button>																																	
										</fieldset>	
										
										<table id="datatable_order_item" class="table table-hover" width="100%" >
											<thead>
												<tr role="row">
													<th style="width: 30px;"></th>
													<th style="width: 10px;"></th>
													<th style="width: 200px;">Produto</th>
													<th style="width: 100px;">Informações</th>
													<th style="width: 120px;">Tabela</th>
													<th style="width: 50px;">Quantidade</th>
													<th style="width: 50px;">Valor Unitário</th>
													<th style="width: 70px;">Desconto Unitário</th>
													<th style="width: 50px;">Subtotal</th>																												
												</tr>
											</thead>
											
											<tbody>
												<tr ng-repeat="orderItem in ordersItens">
													<td>
														<a class="fa fa-lg fa-pencil" href="javascript:void(0);" ng-click="editProduct($index)"></a>
														<a class="fa fa-lg fa-times" href="javascript:void(0);" ng-click="deleteOrderItem($index)"></a>
													</td>
													<td>
														<h5><small>{{orderItem.sequence = $index+1}}</small></h5>
													</td>
													<td>
														<h5><small>{{orderItem.product.description}}</small></h5>
													</td>
													<td>
														<h5><small>{{orderItem.observation}}</small></h5>
													</td>
													<td>
														<h5><small>{{orderItem.priceTable.description}}</small></h5>
													</td>
													<td>
														<h5><small>{{formatFloat(orderItem.quantity)}}</small></h5>
													</td>
													<td>
														<h5><small>R$ {{formatFloat(orderItem.salePrice)}}</small></h5>
													</td>
													<td>
														<h5><small>R$ {{formatFloat(orderItem.discount)}}</small></h5>
													</td>
													<td>
														<h5><small>R$  {{formatFloat(parseFloat(orderItem.salePrice) * parseFloat(orderItem.quantity))}} </small></h5>
													</td>
												</tr>
											</tbody>
										</table>
										
										<hr>
										<fieldset>
											<div class="invoice-footer">
												
		
													<div class="row">
														<section>
					
															<div class="col-sm-7">
																
															</div>
															<div class="col-sm-5">
																<div class="invoice-sum-total pull-right">
																	<h1><strong>Total: <span class="text-success">R$ {{formatFloat(valueTotal)}}</span></strong></h1>
																</div>
															</div>
														</section>
													</div>												
												
											</div>
										</fieldset>
																			
								</div>
								<div class="step-pane" id="orderPaymentStep">
									<fieldset>
										<div class="row">
											<section class="col col-6">
												<div class="row">
													<section class="col col-10">
														<label class="label">Forma de Pagamento</label>
														<label class="input">													
															<select class="form-control" ng-change="onChangeFormPayment()"  ng-model="order.formPayment" ng-options="payment.id as payment.description for payment in formsPayment"></select>
														</label>
													</section>
												</div>
												<div class="row">
													<section class="col col-10">
														<label class="label">Parcelamento</label>
														<label class="input">													
															<select class="form-control"  ng-model="order.installment" ng-change="onChangeInstallment()" ng-options="installment as installment.description for installment in installments track by installment.id"></select>
														</label>
													</section>
												</div>
											</section>
											<!-- <section class="col col-6">
												<div class="pull-right">
													<h1 class="font-400"><strong>Total: <span class="text-success">R$ {{formatFloat(valueTotal)}}</span></strong></h1>
												</div>	
											</section> -->
										</div>
									
									
								
										
										<legend>Parcelas </legend>
										<div class="row">
											
												<table class="table table-hover" width="100%">
													<thead>
														<tr>
															<th style="width: 20px;"></th>																											
															<th style="width: 100px;"> <i class="fa fa-dollar" ></i>  Valor da parcela</th>
															<th style="width: 100px;"> <i class="fa fa-calendar" ></i>  Data de vencimento</th>
															<th style="width: 150px;"><i class="fa fa-file-excel-o" ></i>  Numero do Documento</th>
															<th style="width: 150px;"> <i class="fa fa-info-circle" ></i>  Informação</th>
															
														</tr>
													</thead>												
													<tr ng-repeat="parcela in parcelas">
														<td>
															<h5><small>{{parcela.sequence}}</small></h5>
														</td>														
														<td>
															<h5><small>R$ {{parcela.installmentValue}}</small></h5>
														</td>
														<td>
															<h5><small>{{parcela.expirationDate | date: 'dd/MM/yyyy'}}</small></h5>
														</td>
														<td>
															<input type="text" class="form-control" ng-model="parcela.documentNumber">
														</td>
														<td>
															<input type="text" class="form-control" ng-model="parcela.observation">
														</td>
													</tr>
												</table>	
										</div>
										
										<hr>
										<fieldset>
											<div class="invoice-footer">
												
		
													<div class="row">
														<section>
					
															<div class="col-sm-7">
																
															</div>
															<div class="col-sm-5">
																<div class="invoice-sum-total pull-right">
																	<h1><strong>Valor Total das Parcelas: <span class="text-success">R$ {{formatFloat(order.netValue)}}</span></strong></h1>
																</div>
															</div>
														</section>
													</div>												
												
											</div>
										</fieldset>
										
										
										
										
										<!-- <div class="row">
											<section>												
												<div class="col-sm-12">
													<div class="invoice-sum-total pull-right">
														<h1 class="font-xl"><strong>Pedido Nº: <span class="text-success">{{order.id}}</span></strong></h1>
													</div>
												</div>
											</section>
										</div>	 -->
																				
									</fieldset>
								</div>		
								<div class="step-pane" id="orderFinallyStep">
									<div class="padding-10">
										<br>
										<div class="pull-left">
											<img src="img/logo-blacknwhite.png" width="150" height="32" alt="invoice icon">
			
											<address>
												<br>
												<strong>{{branch.realName}}</strong>
												<br>
												{{branch.street}}  {{branch.number}} 												
												<br>
												{{branch.city.name}}  {{branch.city.state.uf}} {{branch.postalCode}}										
												<br>
												<abbr title="Phone"></abbr>Fone: {{branch.phoneNumber}}
											</address>
										</div>	
										<div class="pull-right">
											<h1 class="font-xg" ng-show="order.id"><strong>{{order.type == 1 ? 'Pedido': 'Orçamento' }} Nº : <span class="text-success"> {{order.id}}</span></strong></h1>
										</div>									
										<div class="clearfix"></div>
										<br>
										<br>
										<div class="padding-10 row">										
											<div class="col-sm-9">
												<h4 class="semi-bold">{{order.customer.name}}</h4>
												<address>
													<strong>{{order.customer.nickName}}</strong>
													<br>
													{{order.customer.street}}  {{order.customer.number}}													
													<br>
													{{order.customer.city.name}}  {{order.customer.city.state.uf}}	{{order.customer.postalCode}}
													<br>
													<abbr title="Phone"></abbr>Fone: {{order.customer.phoneNumber}}
												</address>
											</div>
											<div class="col-sm-3">
												<div ng-show="order.id">
													<div>
														<strong>{{order.type == 1 ? 'Pedido': 'Orçamento' }} Numero:</strong>
														<span class="pull-right"> {{order.id}} </span>
													</div>
			
												</div>
												<div>
													<div class="font-md">
														<strong>Data de Emissão:</strong>
														<span class="pull-right"> <i class="fa fa-calendar"></i> {{order.issuanceTime | date: 'dd/MM/yyyy HH:mm'}}</span>
													</div>
			
												</div>
												<br>
												<div class="well well-sm  bg-color-darken txt-color-white no-border padding-5">
													<div class="fa-lg">
														Valor Total:
														<span class="pull-right"> R$ {{formatFloat(order.netValue)}} </span>
													</div>
			
												</div>
												<br>
												<br>
											</div>
										</div>
										<table id="datatable_order_item_finally" class="table table-hover" width="100%" >
											<thead>
												<tr role="row">
													<th style="width: 10px;"></th>
													<th style="width: 200px;">Produto</th>
													<th style="width: 100px;">Informações</th>
													<th style="width: 120px;">Tabela</th>
													<th style="width: 50px;">Quantidade</th>
													<th style="width: 50px;">Valor Unitário</th>
													<th style="width: 70px;">Desconto Unitário</th>
													<th style="width: 50px;">Subtotal</th>																												
												</tr>
											</thead>
											
											<tbody>
												<tr ng-repeat="orderItem in ordersItens">
													<td>
														<h5><small>{{$index+1}}</small></h5>
													</td>
													<td>
														<h5><small>{{orderItem.product.description}}</small></h5>
													</td>
													<td>
														<h5><small>{{orderItem.observation}}</small></h5>
													</td>
													<td>
														<h5><small>{{orderItem.priceTable.description}}</small></h5>
													</td>
													<td>
														<h5><small>{{formatFloat(orderItem.quantity)}}</small></h5>
													</td>
													<td>
														<h5><small>R$ {{formatFloat(orderItem.salePrice)}}</small></h5>
													</td>
													<td>
														<h5><small>R$ {{formatFloat(orderItem.discount)}}</small></h5>
													</td>
													<td>
														<h5><small>R$  {{formatFloat(parseFloat(orderItem.salePrice) * parseFloat(orderItem.quantity))}} </small></h5>
													</td>
												</tr>
											</tbody>
										</table>
										<hr>
										<br>
										<div class="invoice-footer">
			
											<div class="row">
			
												<div class="col-sm-7" >
													<div class="payment-methods">
														<h3><strong>Forma de Pagamento : <span class="text-success"> {{formPaymentSelected.description}} - {{order.installment.description}}</span></strong></h3>
													</div>
												</div>
												<div class="col-sm-5">
													<div class="invoice-sum-total pull-right">
														<h3><strong>Total: <span class="text-success">R$ {{formatFloat(order.netValue)}}</span></strong></h3>
													</div>
												</div>
			
											</div>
											
											<div class="row">
												<div class="col-sm-12">
													<p class="note">Observação: {{order.observation}}</p>
												</div>
											</div>
			
										</div>
									</div>
								</div>		
										
								</form>
							</div>
	
						</div>
						<!-- end widget content -->
						
					</div>
					<!-- end widget div -->
					
				</div>			
			
		</article>
	</div>
</section>

		<script src="js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script src="js/plugin/datatables/dataTables.colVis.min.js"></script>
		<script src="js/plugin/datatables/dataTables.tableTools.min.js"></script>
		<script src="js/plugin/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
		
	pageSetUp();
	
	var pagefunction = function() {
		
		
	
		loadScript("js/plugin/fuelux/wizard/wizard.min.js", fueluxWizard);
		
		function fueluxWizard() {
			

			var $validator = $('#order-form').validate({
				// Rules for form validation
				rules : {
					orderItemQuantity : {
						required : true,
						number: true
					},
					
					description : {
						required : true
					},
					
					maximumDiscount : {
						number : true,
						max : 100
					},
					
					promotionPrice : {
						number : true
					},
					
					salePrice : {
						required : true,
						number : true
					},
					
					stockAmount : {
						required : true,
						number : true
					},
					
					
				},

				// Messages for form validation
				messages : {
					orderItemQuantity : {
						required : 'Por favor, informe uma quantidade válida',
						number : 'Por favor, informe somente numeros'
					},
					
					description : {
						required : 'Por favor, informe uma descrição',
					},
					
					maximumDiscount : {
						max : 'Por favor, informe um numero menor ou igual a 100',
						number : 'Por favor, informe um numero válido. Ex: 10.50'
					},
					
					promotionPrice : {
						number : 'Por favor, informe um numero válido. Ex: 10.50'
					},
					
					salePrice : {
						required : 'Por favor, informe um preço',
						number :  'Por favor, informe um numero válido. Ex: 10.50'
					},
					
					stockAmount : {
						required : 'Por favor, informe a quantidade de estoque',
						number : 'Por favor, informe um numero válido. Ex: 10.50'
					},				
					
				},

				// Do not change code below
				errorPlacement : function(error, element) {
					error.insertAfter(element.parent());
				}
			});
						

			//var wizard = $('.wizard').wizard();
			
			
			 
			 
			 
			

			/* wizard.on('finished', function(e, data) {
				//$("#fuelux-wizard").submit();
				//console.log("submitted!");
				$.smallBox({
					title : "Congratulations! Your form was submitted",
					content : "<i class='fa fa-clock-o'></i><i>1 seconds ago...</i>",
					color : "#5F895F",
					iconSmall : "fa fa-check bounce animated",
					timeout : 4000
				});

			}); */

		};

	};

	// Load bootstrap wizard dependency then run pagefunction
	pagefunction();

		
	

</script>


