		
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"> <img src="img/logo.png" alt="SmartAdmin"> </span>
				<!-- END LOGO PLACEHOLDER -->
				<span data-ng-controller="ActivityDemoCtrl">
					<activity data-onrefresh="refreshCallback" title="Notificações Recebidas">
						<activity:button data-icon="fa fa-bell-o swing animated" data-total="total" />
						<activity:content data-footer="footerContent">
							<activity:item data-src="item.src" data-onload="item.onload" data-active="item.active" data-ng-repeat="item in items">
								<span data-localize="{{ item.title }}">{{ item.title }}</span> ({{ item.count }})
							</activity:item>
						</activity:content>
					</activity>
				</span>
			</div>


			<!-- pulled right: nav area -->
			<div class="pull-right">
				
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/vendas-web/j_spring_security_logout" title="Sair"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Expandir Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>

				<!-- fullscreen button -->
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Tela Cheia"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<!-- end fullscreen button -->
				
				<!-- multiple lang dropdown : find all flags in the image folder -->
				<ul data-lang-menu="" class="header-dropdown-list hidden-xs" data-ng-controller="LangController">
					<li>
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" class="flag flag-{{ currentLang.flagCode }}" src="img/blank.gif"> <span> {{ currentLang.translation }} </span> <i class="fa fa-angle-down"></i> 
						</a>
						<ul class="dropdown-menu pull-right">
							<li data-ng-class="{active: lang == currentLang}" data-ng-repeat="lang in languages">
								<a href="" data-ng-click="setLang(lang)" ><img class="flag flag-{{ lang.flagCode }}" src="img/blank.gif" /> {{ lang.language }} ({{ lang.translation }}) </a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- end multiple lang -->
				<div class="project-context hidden-xs" data-ng-controller="ContextController">

					<span class="label"><span data-localize="Empresa Selecionada">Empresa Selecionada</span>:</span>
					<span class="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown"><span data-localize="{currentBranch.fancyName} ">{{ currentBranch.branchOfficeID}} - {{ currentBranch.fancyName}} </span> <i class="fa fa-angle-down"></i></span>
															
					<ul class="dropdown-menu pull-right">
						<li data-ng-class="{active: branch == currentBranch}" data-ng-repeat="branch in userBranches">
							<a href="" data-ng-click="setBranch(branch)" > {{ branch.branchOfficeID }} - {{ branch.fancyName }} </a>
						</li>
					</ul>
				</div>
				
				
				
				<!-- dropdown empresa-->
				<!-- <ul data-lang-menu="" class="header-dropdown-list hidden-xs" data-ng-controller="ContextController">
					<li>
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" class="flag flag-{{ currentBranch.fancyName}}" src="img/blank.gif"> <span> {{ currentBranch.fancyName}} </span> <i class="fa fa-angle-down"></i> 
						</a>
						<ul class="dropdown-menu pull-right">
							<li data-ng-class="{active: branch == currentBranch}" data-ng-repeat="branch in userBranches">
								<a href="" data-ng-click="setBranch(branch)" > {{ branch.branchOfficeID }} - {{ branch.fancyName }} </a>
							</li>
						</ul>
					</li>
				</ul> -->
				<!-- fim dropdown empresa-->
<!-- 
				multiple lang dropdown : find all flags in the image folder
				<ul data-lang-menu="" class="header-dropdown-list hidden-xs" data-ng-controller="LangController">
					<li>
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" class="flag flag-{{ currentLang.flagCode }}" src="img/blank.gif"> <span> {{ currentLang.translation }} </span> <i class="fa fa-angle-down"></i> 
						</a>
						<ul class="dropdown-menu pull-right">
							<li data-ng-class="{active: lang == currentLang}" data-ng-repeat="lang in languages">
								<a href="" data-ng-click="setLang(lang)" ><img class="flag flag-{{ lang.flagCode }}" src="img/blank.gif" /> {{ lang.language }} ({{ lang.translation }}) </a>
							</li>
						</ul>
					</li>
				</ul>
				end multiple lang -->

			</div>
			<!-- end pulled right: nav area -->