<div class="alert alert-warning fade in" style="display:none" id="alertUserInputsInvalids">
	<button class="close" data-dismiss="alert">
		×
	</button>
	<i class="fa-fw fa fa-warning"></i>
	<strong>Opss!</strong> {{errorMessage}} 
</div>


<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
			
			<div  ng-init="initUserForm()" class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-user-form"  data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
				<header >
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Novo Usuário</h2>				
				</header>
	
					<!-- widget div-->
					<div role="content" style="">
												
						<div class="widget-body no-padding">
								
							<form autocomplete="off" id="user-registration-form" class="smart-form" novalidate="novalidate" ng-submit="saveUser(userAccount)" >
																			
								<div class="md-header btn-toolbar">
								<br>
									<button type="button" class="btn btn-sm btn-default" onclick="window.history.back();">
									<i class="fa fa-reply"></i>
												Voltar
									</button>
									<button type="submit" class="btn btn-sm  btn-success" id="btnUserSave">
										<i class="fa fa-save"></i>
											Salvar
									</button>								
									<br>
								</div>
								<br>
								<hr>
								
								<ul id="tabUser" class="nav nav-tabs bordered">
									<li class="active">
										<a href="#tabLoginaData" data-toggle="tab"><i class="fa fa-fw fa-lg fa-user"></i>Dados de Login</a>
									</li>
									<li>
										<a href="#tabUserAccess" data-toggle="tab"><i class="fa fa-fw fa-lg fa-reorder"></i>Acessos</a>
									</li>
									<li>
										<a href="#tabUserSellerConfig" data-toggle="tab"><i class="fa fa-fw fa-lg fa-gears"></i>Empresas</a>
									</li>																		
									
								</ul>
								
								<div id="tabContentUser" class="tab-content padding-10">
									<div class="tab-pane fade in active" id="tabLoginaData">
										<section>
											<input name="email" style="display:none" ng-model="userAccount.email"> <!-- Incluido essa linha para o chrome ignorar o autocomplete  -->
											<label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>												
												<input type="email" name="email" placeholder="E-mail" ng-model="userAccount.email" ng-disabled="isEdition" class="form-control">
											</label>
										</section>
										
										<div class="row">
											<section class="col col-6">
												<label class="input"> <i class="icon-prepend fa fa-lock"></i>
													<input type="password" name="password" placeholder="Senha" id="password" ng-model="userAccount.password" >
												</label>
											</section>
											<section class="col col-6">
												<label class="input"> <i class="icon-prepend fa fa-lock"></i>
													<input type="password" name="passwordConfirm" placeholder="Repita a Senha" ng-model="passwordConfirm">
												</label>
											</section>
										</div>
										
										<div class="row">
											<section class="col col-6">
												<label class="input"> <i class="icon-prepend fa fa-user"></i>
													<input type="text" name="fname" placeholder="Nome" ng-model="userAccount.name">
												</label>
											</section>										
										</div>										
										<section>
											<label class="checkbox"><input type="checkbox" name="chkActiveUser" id="chkActiveUser" ng-model="userAccount.active"><i></i>Usuário ativo</label>
											<label class="checkbox"><input type="checkbox" name="chkPortalAccess" id="chkPortalAccess" ng-model="userAccount.portalAccess"/><i></i>Usuário terá acesso ao portal </label>
											<label class="checkbox"><input type="checkbox" name="chkIsSeller" id="chkIsSeller"  ng-model="userIsSeller"><i></i>Esse usuário é um vendedor</label>
											<label class="checkbox"><input type="checkbox" name="chkIsAdmin" id="chkIsAdmin" ng-model="userIsAdministrator"><i></i>Esse usuário é um administrador</label>  
										</section>	
									</div>
									<div class="tab-pane fade in" id="tabUserAccess">
										<h4><small>Selecione os menus do sistema que usuário terá acesso.</small></h4>
										<br>
										<div class="tree smart-form">
											<ul role="tree">
												<li class="parent_li" role="treeitem">
													<span title="Collapse this branch"><i class="fa fa-lg fa-folder-open"></i> Web</span>
													<ul role="group">
														<li class="parent_li" role="treeitem">
															<span title="Collapse this branch"><i class="fa fa-lg fa-plus-circle icon-minus-sign"></i>Cadastros</span>
															<ul role="group">
																<li>
																	<span> <label class="checkbox inline-block">
																			<input type="checkbox" ng-model="menusApplication.user" name="checkbox-inline">
																			<i></i>Usuários</label> </span>
																</li>
																<li>
																	<span> <label class="checkbox inline-block">
																			<input type="checkbox" ng-model="menusApplication.product" name="checkbox-inline">
																			<i></i>Produtos</label> </span>
																</li>
																<li>
																	<span> <label class="checkbox inline-block">
																			<input type="checkbox" ng-model="menusApplication.priceTable" name="checkbox-inline">
																			<i></i>Tabelas de Preço</label> </span>
																</li>
																<li>
																	<span> <label class="checkbox inline-block">
																			<input type="checkbox" ng-model="menusApplication.installment"  name="checkbox-inline">
																			<i></i>Parcelamentos</label> </span>
																</li>
																<li>
																	<span> <label class="checkbox inline-block">
																			<input type="checkbox" ng-model="menusApplication.organization"  name="checkbox-inline">
																			<i></i>Empresas</label> </span>
																</li>
															</ul>
														</li>
																										
														
														<li class="parent_li" role="treeitem">
															<span title="Collapse this branch"><i class="fa fa-lg fa-minus-circle"></i> Pedido</span>
															<ul role="group">
																<li>
																	<span> <label class="checkbox inline-block">
																			<input type="checkbox" ng-model="menusApplication.order"  name="checkbox-inline">
																			<i></i>Pedido</label> </span>
																</li>														
															</ul>
														</li>
													</ul>
												</li>										
											</ul>
										</div>
									</div>
									
									<div class="tab-pane fade in" id="tabUserSellerConfig">
										<h4><small>Selecione as empresas que o usuário terá acesso.</small></h4>
										<br>
										
										<table id="datatable_branches" custom-data-table aa-data="userBranchesDataTable" ng-init="listBranches()" 
											class="table table-hover table-striped smart-form has-tickbox dataTable" radio="false" width="100%" >
											<thead>
													<tr role="row">
														<th style="width: 23px;"></th>																								
														<th style="width: 59px;">Código</th>
														<th style="width: 200px;">Nome Fantasia</th>
														<th style="width: 100px;">Desconto Máximo</th>
														<th style="width: 100px;">Exibir Estoque</th>
														<th style="width: 100px;">Estoque Negativo</th>
														<th style="width: 100px;">Cadastrar Clientes</th>
														<th style="width: 100px;">Titulos Vencidos</th>
														<th style="width: 100px;">Limite de Crédito</th>														
													</tr>
												</thead>
											<tbody></tbody>
										</table>
									</div>
									
								</div>
	
							</form>
	
						</div>
						<!-- end widget content -->
						
					</div>
					<!-- end widget div -->
					
				</div>			
			
		</article>
	</div>
</section>

		<script src="js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script src="js/plugin/datatables/dataTables.colVis.min.js"></script>
		<script src="js/plugin/datatables/dataTables.tableTools.min.js"></script>
		<script src="js/plugin/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		
		/**
		* Faz com que o jquery validate, valide os campos que que não estão visiveis também.
		* Fonte http://stackoverflow.com/questions/10145131/how-to-properly-validate-twitters-bootstrap-form-placed-on-several-tabs-with-jq
		**/
		$.validator.setDefaults({
		    ignore: ""
		});
		
		pageSetUp();

		var $checkoutForm = $('#user-registration-form').validate({
		// Rules for form validation
			rules : {
				fname : {
					required : true
				},					
				email : {
					required : true,
					email : true
				},					
				password : {
					required : true,
					minlength : 3,
					maxlength : 20
				},
				passwordConfirm : {
					required : true,
					minlength : 3,
					maxlength : 20,
					equalTo : '#password'
				},
			},
	
			// Messages for form validation
			messages : {
				fname : {
					required : 'Por favor, informe um nome'
				},					
				email : {
					required : 'Por favor informe um e-mail.',
					email : 'Por favor informe um e-mail válido.'
				},				
				address : {
					required : 'Por favor, informe um email'
				},							
				password : {
					required : 'Por favor, informe uma senha',
					minlength: 'Informe uma senha de pelo menos 3 digitos'
				},
				passwordConfirm : {
					required : 'Por favor, iforme iforme o email mais uma vez',
					equalTo : 'Por favor, informe uma senha igual a anterior'
				},
			},

			// Do not change code below
			errorPlacement : function(error, element) {
				error.insertAfter(element.parent());
			}
		});
		



		/*Treeview Permissões  de acesso  */
		$('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
		$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function(e) {
			var children = $(this).parent('li.parent_li').find(' > ul > li');
			if (children.is(':visible')) {
				children.hide('fast');
				$(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
			} else {
				children.show('fast');
				$(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
			}
			e.stopPropagation();
		});

	})	

</script>


